.invest {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

.invest span {
    padding: 12px 0;
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.invest-item {
    padding: 12px 6px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    transition: 0.2s linear;
}

.invest-item:hover {
    color: #0f9191;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    transition: 0.2s linear;
}

.invest-item p {
    pointer-events: none;
    margin: 0;
    width: 16%;
    text-align: left;
}

.payment-item {
    padding: 6px 0 6px 6px;
    display: flex;
}

.payment-item p {
    pointer-events: none;
    margin: 0;
    width: 20%;
    text-align: left;
    font-size: 16px;
}

.paid {
    color: white;
    border-radius: 3px;
    border: 1px solid #0f9191;
    background: linear-gradient(to right bottom, rgba(128, 200, 189, 0.8), rgba(128, 200, 189, 0.3));
}

.payment-item button {
    color: #57ddc9;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #57ddc9;
    background: transparent;
}

.payment-item button:hover {
    text-decoration: underline;
}